@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#flexError,
.flexError {
  display: flex;
}
.noHover {
  pointer-events: none;
}

li[show] {
  pointer-events: auto;
}
li[hide] {
  display: none;
}
button {
  pointer-events: auto;
}
