@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#flexError,
.flexError {
  display: flex;
}
.noHover {
  pointer-events: none;
}

li[show] {
  pointer-events: auto;
}
li[hide] {
  display: none;
}
button {
  pointer-events: auto;
}
